/* Reset de estilos básicos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #fff;
  width: 100%;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/bg.webp");
  background-size: cover;
  background-position: center;

  opacity: 0.2;
  z-index: -1;
}

:root {
  --color1: #bc562e;
  --color2: #e09480;
  --color3: #672416;
  --color4: #a27852;
  --color5: #d2c2b2;
  --color6: #392c1f;
  --shadow-1: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* Títulos y encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

p {
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0 !important;
  padding: 0;
}

section {
  padding: 1.5rem 1rem !important;
  border: none !important;

  margin: 0 auto;
  /* Centra la sección */
  max-width: 1200px;
}

/* Clases para centrar el texto */
.text-center {
  text-align: center;
}

/* Diseño de imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #fff;
  border-bottom: 1px solid #672416;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.header-navbar li {
  position: relative;
  min-width: 70px;
  text-align: center;
}

.header-navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 10px 0;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.header-navbar a:hover {
  color: #a27852;
}

.header-navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a27852;
  transition: width 0.3s ease;
}

.header-navbar a:hover::after {
  width: 90%;
}

.header-navbar .active {
  font-weight: 500;
  color: #a27852;
}

.header-navbar .active::after {
  width: 100%;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: calc(5rem + 1.7rem);
}

/* Estilos para la sección Home */
.columns {
  padding: 10px 20px;
  color: #333;

  display: flex;
  justify-content: center;
  gap: 5rem;
}

.column-1 {
  display: flex;
  flex-direction: column;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  margin-top: 2rem;
  display: flex;
}

.welcome-message {
  text-align: left;
  display: flex;
  flex-direction: column;

  max-width: 500px;
}

.welcome-message p {
  margin: 0.7rem 0 2rem 0;
}

.profile-img {
  filter: drop-shadow(var(--shadow-1));
  transition: transform 0.25s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.05);
}

/* Welcome Message */
.welcome-message h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

.welcome-message p {
  font-size: 1rem;
  line-height: 1.9;
  color: #555;
}

.featured-highlights {
  max-width: 500px;
}

/* Featured Highlights */
.featured-highlights h3 {
  font-size: 1.3rem;
  color: var(--color4);
  text-align: left;
  margin-bottom: 20px;
}

.featured-highlights ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.featured-highlights li {
  font-size: 1rem;
  color: #666;
}

.card-custom {
  margin: 0;
  width: 100%;
  padding: 0.2rem 0;
  min-width: 400px !important;
  max-width: 450px !important;
  border: none !important;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.card-custom h3,
.card-custom p {
  margin: 0;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: left;
}

.card-custom .card-body {
  color: rgba(255, 255, 255, 0.9);
}

.cards-featured {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* button-custom */
.button-custom {
  display: flex;
  flex-direction: column;
  margin: 5px 6px;
  padding: 12px 25px;

  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  background-color: #a27852;
  color: #fff;

  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.button-custom:hover {
  background-color: #fff;
  border-color: var(--color4);
  color: var(--color4);
}

.button-custom.secondary {
  background-color: #444;
  border-color: #444;
  color: #fff;
}

.button-custom.secondary:hover {
  background-color: #fff;
  border-color: #666;
  color: #666;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--shadow-1);
  width: 1200px;
}

.articulo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color4);
  margin-bottom: 20px;
}

.about-me-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-content {
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #555;
  line-height: 2;
}

.about-me-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2;
}

.about-me-socials {
  display: flex;
  margin-top: 1rem;
  flex: 1;
  background-color: var(--color4);
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

.social-links li {
  min-width: 120px;
  width: 100%;
  padding: 1rem;
  list-style: none;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.svg-socials {
  color: var(--color4) !important;
}

.social-links li:hover {
  background-color: var(--color4);
}

.social-links li:hover a {
  color: white;
}

.social-links li:hover .svg-socials {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(288deg) brightness(102%) contrast(102%);
}

.social-links a {
  color: #444;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.content-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.snapshot-list {
  list-style-type: disc;
  padding-left: 20px;
}

.snapshot-list li {
  margin-bottom: 8px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem !important;
  position: relative;
}

.portfolio-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/minimalgreen.webp");
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
  /* Ajusta el color y opacidad (0.4) */
}

.portfolio-section h3 {
  color: var(--color4);
}

.portfolio-section .container {
  width: 1200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.grid-item {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--color4);
  border-bottom: 2px solid var(--color4);
  padding-bottom: 5px;
}

.portfolio-item {
  margin-bottom: 10px;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks-list .task {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.tasks-list .task::before {
  content: "•";
  color: var(--color5);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1100;
}

/* Configuración para el menú en dispositivos móviles */
.menu {
  display: flex;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu li {
  padding: 0.5rem;
}

.menu a {
  text-decoration: none;
}

.menu a.active {
  font-weight: bold;
}

/* PC */
@media (min-width: 1024px) {
  .main-content-mobile {
    display: none;
  }
}

/* celulares */
@media (max-width: 768px) {
  .main-content-pc {
    display: none;
  }

  .main {
    width: 100%;
  }

  .header-navbar {
    padding: 2.5rem 0;
  }

  .main-content-mobile {
    margin-top: 14% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .home-section-mb {
    padding: 2rem !important;
  }

  .columns-mb {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .welcome-message {
    text-align: center;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .welcome-message h1 {
    font-size: 3.3rem;
  }

  .welcome-message p {
    font-size: 1.3rem;
  }

  .featured-highlights h3 {
    font-size: 2rem;
    text-align: center;
  }

  .card-custom h3,
  .card-custom p {
    font-size: 1.5rem;
  }

  .card-custom {
    backdrop-filter: none;
  }

  .cards-featured {
    justify-content: center;
    gap: 1rem;
  }

  .call-to-action {
    margin-top: 0.4rem;
  }

  .button-custom {
    font-size: 1.3rem;
  }

  .about-me-section-mb {
    padding: 1rem 4rem !important;
  }

  .about-me-section-mb .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-me-introduction p {
    font-size: 1.2rem;
  }

  .snapshot-list {
    font-size: 1.2rem;
  }

  .about-me-snapshot hr {
    margin: 0 0 1rem 0 !important;
  }

  .social-links {
    flex-direction: row;
  }

  .social-links a {
    font-size: 1rem;
  }

  .portfolio-section-mb h3 {
    margin-bottom: 3rem;
  }

  .portfolio-section-mb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem !important;
    position: relative;
  }

  .portfolio-section-mb::before {
    content: "";
    position: absolute;
    top: 7%;
    left: 2.5%;
    width: 95%;
    height: 92.5%;
    border-radius: 10px;
    background-image: url("../../public/images/minimal3.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    /* Ajusta el color y opacidad (0.4) */
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    border: 2px solid var(--color4);
  }

  .menu.open {
    transform: translateY(0);
    opacity: 1;
  }

  .menu li {
    margin: 0 !important;
    font-size: 2rem;
    padding: 0.5rem;
  }

  .menu-toggle {
    display: block;
  }
  .skills-container {
    min-height: 900px;
  }
  .skills-flex {
    flex-direction: column;
  }
  .skills-flex section {
    margin: 0;
  }
  .skills-section h4 {
    font-size: 1.4rem;
  }

  .skills-section p {
    font-size: 1.3rem;
  }
  .skills-section ul li {
    font-size: 1.2rem;
  }

  .card-body p {
    font-size: 1.3rem;
  }
  .testimonials-title {
    margin-bottom: 2rem !important;
  }

  .testimonial-icon {
    left: 45% !important;
  }

  .contact-section-mobile {
    margin: 0 auto;
  }

  .contact-section-mobile .container {
    margin: 0 auto;
    text-align: center;
  }

  .contact-section-mobile .contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color4);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .contact-section-mobile .contact-content {
    border-radius: 12px;
    background: url("/images/contactMB.png") no-repeat center center;
    background-size: cover;
    display: flex;

    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
  }

  .contact-section-mobile .contact-info {
    flex: 1;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    align-self: center;
  }

  .contact-section-mobile hr {
    margin: 1rem 0 !important;
  }

  .contact-section-mobile .contact-info h4 {
    font-size: 1.7rem !important;
    text-align: center;
    color: var(--color4);
  }
  .contact-section-mobile .contact-info hr {
    margin: 1rem 0 !important;
  }

  .contact-section-mobile .contact-item {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .contact-section-mobile .contact-label {
    font-weight: bold;

    color: var(--color6);
  }

  .contact-section-mobile .contact-link {
    font-size: 1.3rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .contact-section-mobile .contact-link:hover {
    color: var(--color5);
  }

  .contact-section-mobile .contact-form {
    flex: 1;
    background-color: #ffffff;

    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .contact-section-mobile .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }

  .contact-section-mobile .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .contact-section-mobile .form-group {
    display: flex;
    flex-direction: column;
  }

  .contact-section-mobile .form-group label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #333;
  }

  .contact-section-mobile .form-group input,
  .contact-section-mobile .form-group textarea {
    padding: 0.7rem;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .contact-section-mobile .form-group textarea {
    resize: vertical;
    height: 150px;
  }

  .contact-section-mobile .submit-button {
    padding: 0.5rem;
    background-color: var(--color6);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contact-section-mobile .submit-button:hover {
    background-color: var(--color4);
  }

  .contact-section-mobile .form-status {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--color6);
  }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
}

.skills-container {
  margin: 20px 0;
  padding: 0 20px;
  max-width: 1200px;
}

.skills-section hr {
  margin: 1rem 0 !important;
  border: 1px solid var(--color6);
  opacity: 0.8;
}

.skills-heading {
  font-size: 1.5rem;
  color: var(--color6);
  font-weight: bold;
  margin-bottom: 10px;
  border-left: 4px solid var(--color6);
  padding-left: 10px;
}

.skills-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  position: relative;
}

.skills-list li svg {
  color: var(--color4);
}

.skills-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer {
  background-color: #222;

  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  color: white;
}
.footer-nav {
  margin-top: 10px;
}

.footer-link {
  color: var(--color5);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.fade-in {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.opacity-0 {
  opacity: 0;
}

/* testimonials.css */
.testimonials-section {
  padding: 4rem 2rem;
}

.testimonials-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}
.testimonials-section .container hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.testimonials-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color4);
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.testimonial-card {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(57, 44, 31, 0.4);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.05);
}

.testimonial-quote {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial-author {
  font-weight: bold;
  color: var(--color6);
}

.testimonial-icon {
  position: absolute;
  font-size: 3rem;
  color: var(--color6);
  top: -15%;
  left: 47.5%;
}

/* contact.css */
.contact-section {
  padding: 4rem 2rem;
  margin: 1rem;
}

.contact-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.contact-section .contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color4);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-section .contact-content {
  border-radius: 12px;
  background: url("/images/contact3.png") no-repeat center center;
  background-size: cover;
  display: flex;
  padding: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  align-items: flex-start;
}

.contact-section .contact-info {
  flex: 1;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  align-self: center;
}

.contact-section hr {
  margin: 1rem 0 !important;
}

.contact-section .contact-info h4 {
  color: var(--color4);
}
.contact-section .contact-info hr {
  margin: 1rem 0 !important;
}

.contact-section .contact-item {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.contact-section .contact-label {
  font-weight: bold;

  color: var(--color6);
}

.contact-section .contact-link {
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-section .contact-link:hover {
  color: var(--color5);
}

.contact-form {
  flex: 0.95;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section .form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.contact-section .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-section .form-group {
  display: flex;
  flex-direction: column;
}

.contact-section .form-group label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.contact-section .form-group input,
.contact-section .form-group textarea {
  padding: 0.25rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.contact-section .form-group textarea {
  resize: vertical;
  height: 150px;
}

.contact-section .submit-button {
  padding: 0.5rem;
  background-color: var(--color6);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-section .submit-button:hover {
  background-color: var(--color4);
}

.contact-section .form-status {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  color: var(--color6);
}

/*BASURA DE BOOTSTRAP*/
